body {
    background-image: url("./Assets/genshin_background.jfif");
    background-size: cover;
}

body h1 {
    text-align: center;
    font-family: Dangrek;
}

.headerlogo {
    display: block;
    margin: auto;
}

li a {
    text-decoration: none;
    color: white;  
}

/* Nav Bar */

.primary_navigation {
    position: fixed;
    inset: 0 93% 0 0 ;
    padding: 2rem 2rem;
    background-color: rgba(0, 162, 255, 0.356);
    flex-direction: column;
}

.active {
    padding-bottom: 2rem;
    list-style: none;
}

/* Media Queries */

